//color
$background: linear-gradient(156.05deg, #92CEFA 17.37%, rgba(221, 160, 242, 0.38) 53.97%, rgba(241, 228, 245, 0) 74.53%),
linear-gradient(179.28deg, #F0E5F7 65.52%, #EFE4F6 105.87%);
$basecolor: #EFE4F6;
$white: #F2F0F3;
$purewhite: #FFFFFF;
$mainblue: #92CEFA;
$textcolor_h1: #272630;